<div class="row">
    <div class="col-md-8">
        <h1>{{model.name}}</h1>
    </div>
    <div class="col-md-4 right">
        {{date-format model.date format='DD.MM.YYYY'}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{tournaments/tournament-rounds rounds=model.rounds courts=model.courts groups=model.groups}}
    </div>
</div>